<!-- 클라이언트 쪽에서 문제가 발생했을 때 나타나는 html파일 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유튜브 중독방지 웹서비스</title>
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <script
      src="https://kit.fontawesome.com/510fbf9652.js"
      crossorigin="anonymous"
      defer
    ></script>
    <style>
      main {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        height: 100vh;
        background-color: #07064a; /* Choose a background color for the error page */
      }

      main h1 {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff; /* Choose a text color for the heading */
        margin-bottom: 10px; /* Add some bottom margin to separate heading and paragraph */
      }

      main p {
        font-size: 16px;
        color: #ffffff; /* Choose a text color for the paragraph */
      }
    </style>
  </head>
  <body>
    <%- include('includes/sidebar') %>
    <main>
      <h1>페이지를 찾을 수 없습니다!</h1>
      <p>잘못된 경로 입니다!</p>
    </main>
  </body>
</html>
