<!-- 시청 시간이 종료했음을 나타내는 html파일 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유튜브 중독방지 웹서비스</title>
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <link rel="stylesheet" href="/styles/end.css" />
    <script
      src="https://kit.fontawesome.com/510fbf9652.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <%- include('includes/sidebar') %>
    <div class="container">
      <h1>
        <span class="exclamation">!</span> <br />
        시청 시간이 만료되었습니다
      </h1>
      <div class="box">
        <p>잠금 해제 잔여 시간</p>
        <p class="remaining-time">18:07:33</p>
      </div>
    </div>
  </body>
</html>
