<!-- 로그인 페이지를 나타내는 html 파일 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유튜브 중독방지 웹서비스</title>
    <!-- public 폴더 안의 styles폴더 안의 css 파일에 접근합니다 -->
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <div class="all">
      <div class="logo_box">
        <h1 class="logo">BigShort's</h1>
        <img class="logo_login" src="../src/logo_login.png" />
      </div>
      <div class="login_div">
        <% if (!existTime) { %>
        <h3 style="clear: both; color: #c5cae5">시청 시간을 입력하세요</h3>
        <form action="/timeset" method="POST">
          <input
            id="minute"
            type="number"
            name="numberInput"
            min="0"
            max="120"
            placeholder="00분"
            required
          />
          <button class="button_sign">영상 시청하기</button>
        </form>
        <% } else { %>
        <h3 style="clear: both; color: #c5cae5">
          오늘 총 <%= existTime %> 분 시청하셨습니다
        </h3>
        <form action="/timeset" method="POST">
          <button class="button_sign">영상 시청하기</button>
        </form>
        <% } %>
      </div>
    </div>
  </body>
</html>
