@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Happiness-Sans-Title";
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: #07064a;
}

#player-container {
  position: relative; /* player-container를 기준으로 timer의 위치를 설정하기 위해 relative를 사용합니다. */
  width: 80vw;
  margin-left: 300px; /* 사이드바의 너비만큼 본문을 오른쪽으로 이동 */
  height: 80vh;
  margin-top: 12vh;
  margin-right: 3vw;
}

#player {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

#timer {
  position: absolute;
  top: 14px;
  right: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
  margin-right: 4vw;
}
